@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

body {
    font-family: 'Lato', sans-serif !important; 
    background-image: url('/images/MainBackground.avif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-weight: 300;
    color: #F8DDEF;
}

.gradientBorder {
    width: 150px;
    background-image: linear-gradient(115deg, #8C16C5, #8D1C67, #D733A0);
}

.blackBorder {
    width: 150px;
}

.gradientBorder:hover {
    background-image: linear-gradient(115deg, #D733A0, #8D1C67, #8C16C5);
}