---
import Navbar from "../components/Navbar";
import OurDivisions from '../components/OurDivisions';
import OurClans from '../components/OurClans';

import '../styles/style.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Join the thriving Divide by Zero™ Family, one of the largest Clash of Clans alliances with over 5500 members on Discord and 1200 members across our clans. Our young community, founded on June 4th, 2021, is composed of expert teams who ensure quality on all fronts. Experience the best of Clash of Clans by joining us today!">
		<meta property="og:title" content="Divide by Zero">
		<meta property="og:site_name" content="Divide by Zero">
		<meta property="og:type" content="website">
		<meta property="og:image:width" content="1279">
		<meta property="og:image:height" content="1237">
		<meta property="og:image:type" content="image/png">
		<meta property="og:description" content="Join the thriving Divide by Zero™ Family, one of the largest Clash of Clans alliances with over 5500 members on Discord and 1200 members across our clans. Our young community, founded on June 4th, 2021, is composed of expert teams who ensure quality on all fronts. Experience the best of Clash of Clans by joining us today!">
		<meta property="og:image" content="https://cdn.discordapp.com/attachments/911666075144433664/1170313176684974130/dividedbyzero.png?ex=65589614&is=65462114&hm=67f7d8cb4bafbf55f2ba1cbada8341b73e4bdb6c166588799667053944ac86b5&">
		<meta property="og:url" content="https://dbzalliance.com/">
		<title>Divide by Zero</title>
	</head>
	<body class="bg-indigo-500">  
		<Navbar client:load/>
		<div id="Banner" class="flex">
			<div class="w-full min-[800px]:w-8/12 min-[1100px]:w-7/12 min-[1400px]:w-7/12 min-[2000px]:w-8/12 min-[1000px]:flex-none float-left self-center">
				<h1 class="text-2xl min-[450px]:text-3xl min-[530px]:text-4xl min-md:text-5xl min-[800px]:text-4xl min-[1000px]:text-5xl leading-snug min-[1000px]:leading-normal max-[1100px]:mt-10 min-[1400px]:text-6xl min-[1600px]:text-7xl min-[2000px]:text-8xl min-[2000px]:mt-20 min-[2000px]:leading-normal font-bold mx-auto w-max relative z-20 min-[1400px]:leading-snug">
					<span class="image-container absolute top-[-55px] left-[-60px]" style={{zIndex: '-10'}}>
						<img width="110" height="110" src="/images/DiscordLogoPink.png" alt="Discord Logo in Pink" class="origin-center rotate-225" />
					</span>

					Discover A Fresh Approach<br />
					To Gaming Within<br />
					<span class="drop-shadow-5xl text-center font-bold bg-clip-text" style={{color: 'transparent', backgroundImage: 'linear-gradient(307deg, #D733A0, #8C16C5)'}}>Our Alliance.</span>
					<p class="text-base font-light min-[1100px]:text-xl block w-max mt-2">Experience an active community and a large<br />selection of clans</p>
					
					<span class="image-container absolute max-[500px]:top-[30%] top-[50%] left-[80%]" style={{zIndex: '-10'}}>
						<img width="160" height="160" src="/images/MoonStars.png" alt="multiple stars and a moon in dark purple" class="origin-center rotate-225" />
					</span>

					<a href="https://discord.gg/dbz-alliance" class="text-xl float-left mt-5 font-light overflow-hidden text-center relative block no-underline rounded-md gradientBorder">
                        <span class='text-xl py-2 bg-black rounded m-1 block hover:text-pink'>Join Now</span>
                    </a>
					<a href="#OurClans" class="transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-gray-700 duration-300 text-xl float-left mt-5 font-light overflow-hidden text-center relative block no-underline rounded-md blackBorder">
                        <span class='text-xl ml-5 border-2 border-[#4D4D4D] py-1.5 bg-black rounded m-1 block hover:text-pink'>Our Clans</span>
                    </a>
				</h1>
			</div>
			<div class="max-[799px]:hidden min-[800px]:w-4/12 min-[1100px]:w-5/12 min-[1400px]:5/12 min-[2000px]:w-4/12 min-[1000px]:flex-none float-left">
				<img width="579" height="551" class="mx-auto min-[2000px]:mt-20" src="/images/BannerHeadhunter.png" alt="Clash of Clans headhunter with the Divide by Zero gradient text">
			</div>
		</div>
		<div id="Introduction" class="mt-20">
			<div class="flex justify-start items-center ml-[8.3%]">
				<img width="40" height="40" src="/icons/Book.png" alt="Purple Building Icon" class="w-12 h-auto mr-4" />
				<h1 class="max-md:text-3xl text-4xl font-bold">Introduction.</h1>
			</div>
			<div class="min-[1000px]:flex justify-center">
				<div class="w-full min-[1000px]:w-6/12 content-center flex flex-wrap">
					<span class="mx-auto max-md:w-10/12 w-8/12 grid max-md:text-base text-lg">
						<p class="pb-5 border-b-2 border-pink">With a variety of clans we can safely say that we`re the largest alliance in existence, Within 2.5 years we`ve forged the perfect recipe for our members to enjoy Clash of Clans beyond the game itself.</p>
						<p class="mt-5">Playing with a group of friends and having special events every month make the game even more fun. Lots of people have already enjoyed these benefits. Could you be the next one?</p>
						<a href="https://discord.gg/dbz-alliance" class="text-xl mx-auto mt-5 font-light overflow-hidden text-center relative block no-underline rounded-md gradientBorder">
							<span class='text-xl py-2 bg-black rounded m-1 block hover:text-pink'>Join Now</span>
						</a>
					</span>
				</div>
				<div class="max-md:w-8/12 w-10/12 mx-auto max-[1000px]:mt-5 min-[1000px]:w-6/12">
					<img width="508" height="365" class="mx-auto" src="/images/IntroductionImage.png" alt="A laptop, headphones and a cup purple for gaming">
				</div>
			</div>
		</div>
		<OurDivisions client:visible/>
		<OurClans client:visible />
		<div id="Partners" class="lg:mt-20 mt-4">
			<div class="flex justify-start items-center ml-[8.3%]">
				<img width="40" height="40" src="/icons/Partnership.png" alt="Partnership Icon" class="w-12 h-auto mr-4" />
				<h1 class="max-md:text-3xl text-4xl font-bold">Partners.</h1>
			</div>
			<div class="flex flex-wrap justify-center items-center max-w-[1500px] mx-auto mt-8">
				<div class="w-1/4 sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
				  <img width="200" height="200" src="/images/DesignWorld.avif" alt="Image 1" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/4 sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
				  <img width="200" height="200" src="/images/PandazEsports.avif" alt="Image 2" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/4 sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
				  <img width="200" height="200" src="/images/wbb.png" alt="Image 3" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/4 sm:w-1/2 md:w-1/4 lg:w-1/4 p-2">
				  <img width="200" height="200" src="/images/fwl.png" alt="Image 4" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
			  
				<div class="w-1/5 sm:w-1/2 md:w-1/5 lg:w-1/5 p-2">
				  <img width="200" height="200" src="/images/th11.png" alt="Image 5" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/5 sm:w-1/2 md:w-1/5 lg:w-1/5 p-2">
				  <img width="200" height="200" src="/images/th12.png" alt="Image 6" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/5 sm:w-1/2 md:w-1/5 lg:w-1/5 p-2">
				  <img width="200" height="200" src="/images/th13.png" alt="Image 7" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/5 sm:w-1/2 md:w-1/5 lg:w-1/5 p-2">
				  <img width="200" height="200" src="/images/th14.png" alt="Image 8" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
				<div class="w-1/5 sm:w-1/2 md:w-1/5 lg:w-1/5 p-2">
				  <img width="200" height="200" src="/images/th15.png" alt="Image 9" class="w-[200px] mx-auto opacity-70 hover:opacity-100 hover:saturate-150 transition duration-500">
				</div>
			</div>
		</div>
		<div id="FAQ" class="pb-10 lg:mt-20 mt-4">
			<div class="flex justify-start items-center ml-[8.3%]">
				<img width="40" height="40" src="/icons/FAQ.png" alt="Frequently Asked Icon" class="w-12 h-auto mr-4" />
				<h1 class="max-md:text-3xl text-4xl font-bold">Frequently Asked Questions.</h1>
			</div>
			<div class="w-10/12 mx-auto px-4 sm:px-6 lg:px-8">
			  <div class="mx-auto">	  
				<div class="border border-[#8D1C67] rounded-3xl py-8 FAQField mt-3">
				  <h1 class="text-xl font-medium mb-4 mx-4">Which townhall levels are eligible for membership in the Divide by Zero alliance?</h1>
				  <p class="text-gray-600 leading-relaxed mx-4">Our requirements start at townhall 10, our clans can set a hero requirement so it doesn’t mean we’ve got a guaranteed spot ready for you as th10 in one of our clans. th11 and higher got a wide variety of clans to choose from so consider joining one of our alliance clans!</p>
				</div>
		  
				<div class="border border-[#8D1C67] rounded-3xl py-8 FAQField mt-3">
				  <h1 class="text-xl font-medium mb-4 mx-4">How to join an alliance clan?</h1>
				  <p class="text-gray-600 leading-relaxed mx-4">The process starts in our Discord server, you can open a ticket in a channel named clan-apply. Here you can follow the bot instructions and select a clan which you want to join.</p>
				</div>
		  
				<div class="border border-[#8D1C67] rounded-3xl py-8 FAQField mt-3">
				  <h1 class="text-xl font-medium mb-4 mx-4">How to join the alliance with my own clan?</h1>
				  <p class="text-gray-600 leading-relaxed mx-4">This process also starts in our Discord server, We’ve got a channel named partner-apply where we’ve listed our latest requirements. If you fit in this criteria you can open a ticket in the partner-apply channel.</p>
				</div>
		  
				<div class="border border-[#8D1C67] rounded-3xl py-8 FAQField mt-3">
				  <h1 class="text-xl font-medium mb-4 mx-4">What are the benefits of boosting the server or getting a subscription?</h1>
				  <p class="text-gray-600 leading-relaxed mx-4">We’re very thankful to our server boosters and subscribers, we’ve unlocked the level 3 perks from boosting already where our members can upload larger files and enjoy a wide variety of emojis and stickers. Subscribers help us to fund our events, subscribers and boosters can both enjoy monthly fresh bases, custom roles, colours and a lot more perks listed in the exclusive-perks channel within our server. </p>
				</div>
			  </div>
			</div>
		</div>
		<iframe title="Discord Server Overview" class="mx-auto" src="https://discord.com/widget?id=850257756971991058&theme=dark" width="70%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
		<footer class="bg-gray-800 text-gray-300 py-5">
			<div class="w-8/12 2xl:w-10/12 mx-auto px-4 sm:px-6 lg:px-8 flex flex-wrap justify-center items-center">
			  <div class="mb-2">
				<a href="https://discord.gg/dbz-alliance" class="text-xl !w-64 animate-bounce mt-2 font-light overflow-hidden text-center relative block no-underline rounded-md gradientBorder mx-auto">
					<span class='text-xl py-2 bg-black rounded m-1 block hover:text-pink'>Join our Server Now</span>
				</a>
			  </div>
			</div>
			<div class="w-full text-center">
				<p class="text-white font-medium">© 2023 DivideByZero | Designed & Finalised by: Codecials.</p>
			  </div>
		  </footer>
	</body>
</html>
